<div class="preview">
    <button class="btn btn-sm btn-primary" (click)="addComponent()">
        Refresh
    </button>

    <div #anchor>
    </div>


    <hr />

    <!-- <dx-data-grid #grid [dataSource]="dataSource">
        <dxi-column dataField="value" caption="value" alignment="right">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
        </dxi-column>
        <dxi-column dataField="other" caption="other" alignment="left"></dxi-column>
    </dx-data-grid> -->

</div>